

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111111;
}

header {
    background-color: #000;
    color: white;
    padding: 1em 0;
    display: flex;
    position: fixed;   /* fissa l’header in alto */
    top: 0;            /* posizione in cima alla pagina */
    left: 0;           /* allineamento a sinistra */
    width: 100%;       /* occupa tutta la larghezza della finestra */
    z-index: 1000;
    height: 10em;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo {
    height: 10em; 
    width: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3em;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #505ab4;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    font-size: 1.8em;
}

nav ul li a:hover {
    color: #5715f1;
    text-shadow: 0 0 3px #6121f6;

}

@media screen and (max-width: 50em) {
    nav ul {
      flex-direction: column;
      gap: 10px;
      align-items: center;
    }
}

/*========================================*/
/*========================================*/
/*========================================*/

#content {
    padding: 14em 0 0 0; 
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}


#docs-container h1 {
    color: #505ab4;
    font-size: 2.5em;
    font-weight: bold;
}

#docs-container h2,h3 {
    color: #9ea6f3;
    font-size: 2em;
    font-weight: bold;
}

#docs-container a {
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: #cfd3f6;
    display: block;
    padding-left: 0.8em; /* spazio per il triangolo */
    position: relative;
    margin-bottom: 0.3em;
}

#docs-container a:hover {
    background-image: linear-gradient(to right, rgb(80, 90, 180, 0.2), transparent);;
}

#CANDIDATURA, #PB, #RTB, #CHI-SIAMO {
    margin-bottom: 5em;
    scroll-margin-top: 13em;
}


#candidatura-container, 
#verbali-candidatura-container, 
#verbali-candidatura-esterni, 
#verbali-candidatura-interni {
    padding-left: 3em;
    border-left: 4px solid rgb(56, 11, 163);
}

.mini-titolo {
    margin-bottom: 0.1em;
    margin-top: 0;
}


#docs-container a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 14px solid #6e27e0; 
}

@media screen and (max-width: 600px) {
    #docs-container h1 {
        font-size: 1.5em; 
    }

    #docs-container h2,h3 {
        font-size: 1.5em;
    }

    #docs-container a {
        font-size: 1.5em;
    }

    #candidatura-container, 
    #verbali-candidatura-container, 
    #verbali-candidatura-esterni, 
    #verbali-candidatura-interni {
        padding-left: 2em;
    }

}

/*========================================*/
/*========================================*/
/*========================================*/

#CHI-SIAMO h1 {
    margin-bottom: 0.3em;
    color: #505ab4;
    font-size: 2.5em;
    font-weight: bold;
}

#CHI-SIAMO h2 {
    margin-bottom: 0.3em;
    color: #505ab4;
    font-size: 2.0em;
    font-weight: bold;
}

#group-description, #mail-p {
    margin-top: 0px;
    font-size: 2em;
    color: rgb(158, 166, 243);
}


@media screen and (max-width: 600px) {
    #CHI-SIAMO p {
        font-size: 1.3em;
    }
}

#group-email {
    color: #cfd3f6;
}

#profiles-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: flex-start;
    gap: 25px;
}

#profiles-list li {
    list-style-type: none;
    text-align: center;
    max-width: 100px;
}

.profile-image {
    width: 100px;
    height: auto;
    border-radius: 100%;
}

.link-to-profile {
    text-decoration: none;
    color: #cfd3f6;
}


